{% if page.url == "/" or page.url == "/en/" %}
<!--Mudar a imagem ao clicar -->
<script type="text/javascript">
    var coringa = 1;
    function changeImage() {
        document.getElementById("img").src = "/images/" + coringa + "img.jpg";
        coringa != 3 ? coringa++ : coringa = 0;
    }
</script>
{% endif %}

<!-- Basica do tema -->
<script>

    if ('addEventListener' in window) {
        window.addEventListener('load', function () {
            document.body.className = document.body.className.replace(/\bis-loading\b/, '');
        });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }

</script>

{% if page.url == "/sobre/" or page.url == "/en/about/" %}
<!-- Menu sobre -->
<script>
    var tablink = document.getElementsByClassName("tablink");
    function openResumeList(evt, listName) {
        var i, tabcontent;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        
        for (i = 0; i < tablink.length; i++) {
            tablink[i].className = tablink[i].className.replace(" active", "");
        }
        document.getElementById(listName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    window.onload = openResumeList(event, 'about');
    /* document.getElementById("aboutLink").className.replace(" active", "");   */
</script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161579456-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-161579456-1');
</script>