<head>

    <title> {% if page.url != "/" %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8" />

    <meta name="author" content="Josias Souza">

    <meta name="description"
        content="{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/assets/css/main.css" />

</head>